<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='retrieve_styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"
/>

    <title>Retrieve Images</title>
</head>
<body>
    <div class="container py-3">
        <div class="panel">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <h1 class="title text-center">
                        Welcome to Snap bank
                    </h1>
                    
                    <div class="text-right">
                        <p>Press button below to scan your face and retrieve all related images.</p>
                    </div>

                    <br>
                    <br>
                    <div id="container">
                        <video autoplay playsinline id="videoElement" ></video>
                        <canvas id="canvas" width="300" height="600"></canvas>
                    </div>
                    <br>
                    <br>
                    <div class="wrapper">
                        <button type="submit" id="retrieveImages" class="file-retrieve"> Scan &nbsp;&nbsp;<i class="fa-solid fa-expand"></i></button>
                        
                    </div>
                    
                </div>
            </div>
            <br>
            <br>
            <div class="image-container" id="retrieve_images_server">
                <!-- <a
                    data-fancybox="gallery"
                    href="{{ url_for('static', filename='images/1.jpg') }}"
                >
                    <img class="image-card" src="{{ url_for('static', filename='images/1.jpg') }}" alt="" />
                </a>  -->
                               
            </div>
            
            
            
            
        </div>
    </div>
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <script>alert(`{{message}}`)</script>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.4/socket.io.js"></script>
<script src="{{ url_for('static', filename='retrieve_script.js') }}"></script>
</body>
</html>